*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

body.user-is-tabbing *:focus {
  outline: 2px solid #48E5C2;
}

html {
  height: 100%;
  font-size: 62.25%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #FCFAF9;
  background-color: #333333;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.header,
.footer {
  padding: 24px 0;
  text-align: center;
}

.footer {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 12px;

  a {
    color: #FCFAF9;
  }
}

.title {
  margin: 0;
}

.main {
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 24px;
}

.grid {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.circle {
  width: 150px;
  height: 150px;
  border: 3px solid #FCFAF9;
  cursor: pointer;
  border-radius: 50%;
}

.mole {
  background: url('../mole.png') no-repeat center/50%;
}

.btn {
  margin-bottom: 24px;
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  background-color: #48E5C2;
  text-transform: uppercase;
  cursor: pointer;
}